:root {
  --mainColor: #29335c;
  --mainColorLight: #47589b;
  --secondaryColor: #db2b39;
  --textColor: #eee;
}

.card {
  background-color: var(--mainColor);
  width: 100%;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  gap: 15%;
  align-items: center;
  flex-direction: row;
  position: relative;
  transform: scale(0.8);
  transition: all 0.3s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card .card_img img {
  width: 200px;
}

.card .pro_img img {
  width: 350px;
}

.card_seperate {
  display: flex;
  justify-content: center;
  gap: 150px;
  flex-direction: column;
}

.card_row {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.card .card_header {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  color: var(--textColor);
  margin: 25px 0;
}

.card .card_header h2 {
  font-size: 48px;
}

.card .card_header h3 {
  font-size: 38px;
}

.card .card_header p {
  font-size: 24px;
  text-align: center;
  color: var(--textColor);
  margin: 8px 0;
}

.card .card_header .price {
  font-size: 32px;
  color: var(--secondaryColor);
}
.card .card_header .price span {
  font-size: 20px;
  display: inline-block;
  vertical-align: top;
}

.card .card_header .btn {
  width: 300px;
  height: 60px;
  font-size: 20px;
  border-radius: 14px;
  background-color: var(--textColor);
  color: var(--mainColor);
  border: none;
  cursor: pointer;
  position: relative;
  transition: background-color 0.3s ease;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  text-decoration: none;
}

.card .btn:hover {
  background-color: var(--mainColorLight);
  color: var(--textColor);
}

.card:hover .card_header .price {
  color: var(--secondaryColor);
}

hr {
  color: var(--textColor) !important;
  width: 100%;
}

.carousal .card {
  flex-direction: column;
  gap: 8%;
}
